@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Care yourself</h1>
    <p>Oferecemos uma solução para as pessoas as quais não tem tempo para ir ao medico e precisa de uma consulta rapida a distancia ou para casos mais serios o encaminheto direto ao hospital com facilidade</p>
</div>
