@model Global_Solution.Models.cy_feedbacks

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cy_feedbacks</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classificacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFeedback">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
