@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<p>Total de Consultas: @ViewBag.TotalConsultas</p>
<p>Consultas Concluídas: @ViewBag.ConsultasConcluidas</p>
@{
    ViewData["Title"] = "Dashboard";
}

